/*
 *@File name : custom css
 * @Author : Ritesh Patel and Parvati Patel
 * @Website name :  GameTracking(http://gametracking.azurewebsites.net/)
 * @File description :  This is custom css for some componets 
*/

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
        color: #333333;
    background: #ffffff;
}
.container{
    padding-bottom:15px;
}
/* css for navigation bar*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-inverse { background-color: #3D566E; font-weight:bolder;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #1ABC9C}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #1ABC9C}
.dropdown-menu { background-color: #3D566E}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #1ABC9C}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #1ABC9C}
.navbar-inverse .navbar-brand { color: #1ABC9C}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #fff}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF;background-color: #1ABC9C}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF;background-color: #1ABC9C}
.dropdown-menu>li>a { color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-nav >li> .active > a:hover {
    background-color: #1ABC9C;
}
/*Active link for navigation*/
.liactive{background-color: #1ABC9C}


/* css for buttons*/
.btn-sample { 
  color: #ffffff; 
  background-color: #1ABC9C; 
  border-color: #1ABC9C; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #3D566E; 
  border-color: #1ABC9C; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #1ABC9C; 
  border-color: #1ABC9C; 
} 
 
.btn-sample .badge { 
  color: #1ABC9C; 
  background-color: #ffffff; 
}
/* css for inverse button*/
.btn-sample-inverse { 
  color: #ffffff; 
  background-color: #3D5C6E; 
  border-color: #3D5C6E; 
} 
 
.btn-sample-inverse:hover, 
.btn-sample-inverse:focus, 
.btn-sample-inverse:active, 
.btn-sample-inverse.active, 
.open .dropdown-toggle.btn-sample-inverse { 
  color: #ffffff; 
  background-color: #1ABC9C; 
  border-color: #3D5C6E; 
} 
 
.btn-sample-inverse:active, 
.btn-sample-inverse.active, 
.open .dropdown-toggle.btn-sample-inverse { 
  background-image: none; 
} 
 
.btn-sample-inverse.disabled, 
.btn-sample-inverse[disabled], 
fieldset[disabled] .btn-sample-inverse, 
.btn-sample-inverse.disabled:hover, 
.btn-sample-inverse[disabled]:hover, 
fieldset[disabled] .btn-sample-inverse:hover, 
.btn-sample-inverse.disabled:focus, 
.btn-sample-inverse[disabled]:focus, 
fieldset[disabled] .btn-sample-inverse:focus, 
.btn-sample-inverse.disabled:active, 
.btn-sample-inverse[disabled]:active, 
fieldset[disabled] .btn-sample-inverse:active, 
.btn-sample-inverse.disabled.active, 
.btn-sample-inverse[disabled].active, 
fieldset[disabled] .btn-sample-inverse.active { 
  background-color: #3D5C6E; 
  border-color: #3D5C6E; 
} 
 
.btn-sample-inverse .badge { 
  color: #3D5C6E; 
  background-color: #ffffff; 
}
/*
* css for card poster
*/
.card {
background:#fff;
margin:15px;
padding:0px;
box-shadow: 2px 2px 15px #888888;
}
        
.card-header{
     font: bold 22px/45px 'Open Sans', Sans-Serif;
        text-align:center;
    background:#3D566E;
    color:#fff;
}
.card-text,.card-title {
    padding-left:5%;
}
.card-title {
    font-weight:bold;
}
.card-footer {
    font: bold 22px/45px 'Open Sans', Sans-Serif;
        text-align:center;
    background:#1ABC9C;
    color:#fff;
}

/* Typography*/
h5 span {
    color:red;
}
h3 a {
    font-size:40px;
    text-align:center;
    color:#fff;
}
.card a{
    color:#fff;
}
.card h4 a{
    color:#000;
}

/*
* footers are fixed to the bottom of the page
* Used in Master Page
*/

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:30px; }
}

.footer-distributed{
	background-color: #3D566E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 0px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px Open Sans, cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #3D566E;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #3D566E;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
        position:static;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* Intro class*/
.intro{
    
    padding-bottom: 80px;    text-align: center;
}
/* profile page */
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}


.jumbotron {
    background-color:#1ABC9C !important; 
    color:#fff;
    text-align:center;
}

/* table css*/
.thhead-inverse {
     background-color: #1ABC9C;
     color:#FFF;
}
